h1{background-color:#1E3A8A;
   color:#F1F5F9;
   text-align:center;}
.box1{border:3px solid black;
      margin:auto;
      padding:15px;
	  border-radius:10px;
	  display:block;
	  border-color:gray;
	  margin-left:150px;
	  margin-right:150px;
	  }	
h2{color:#1E3A8A;}
.box2{	border:3px solid black;
      margin:auto;
      padding:15px;
	  border-radius:10px;
	  display:block;
	  border-color:gray;
	  margin-left:150px;
      margin-right:150px; 
      margin-top:13px;	  }
	  
	  
.box3{	border:3px solid black;
      margin:auto;
      padding:15px;
	  border-radius:10px;
	  display:block;
	  border-color:gray;
	  margin-left:150px;
      margin-right:150px; 
margin-top:13px;}


button {background-color:#1E3A8A;
       color:#F9FAFB;
	   margin-top:10px;
	   border-radius:10px;
	   margin-bottom:20px;   }	  
          
		  
		  
footer{background-color:#1E3A8A;
text-align:center;
margin-top:10px;}
		  
		  
		  
	  